/* styling app.jsx */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-image: linear-gradient(to right, #363535 0%, #8d8c8c 100%);
  }

  .name {
    color: #8d8c8c;
    font-size: 40px;
  }
  
  nav {
    margin-left: auto;
    padding: 10px 20px;
  }

  button {
    background-color: #605f5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
  }

  .content {
    background-image: linear-gradient(to right, #363535 0%, #8d8c8c 100%);
  }

  footer {
    text-align: center;
  }

  footer div {
    margin-top: 20px; 
  }
  
  footer i {
    font-size: 30px;
    margin: 0 10px;
    color: #363535;
  }
