/* styling app.jsx */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }

  .name {
    color: #232b2b;
    font-size: 40px;
  }
  
  nav {
    margin-left: auto;
    padding: 10px 20px;
  }

  button {
    background-color: #262f2f;
    color: #667275;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
  }

  footer {
    text-align: center;
  }

  footer div {
    margin-top: 20px; 
  }
  
  footer i {
    font-size: 30px;
    margin: 0 10px;
    color: #414a4c;
  }
